@media all and (min-width: 768px){
    .m{display: none;}
    .pc{display: none;}
    .tab{display: block;}
    header{
        padding: 10px 12px 30px;
    }
    header .logo{
        width: 12%;
    }
    header .btn{
        gap: 30px;
    }
    header .btn .btn_mypage{
        width: 20%;
    }
    header .btn .btn_menu{
        width: 20%;
    }
    header .menu .navi{
        width: 50%;
    }
    header .menu .btn-close{
        margin-left: 12px;
        max-width: 70px;
    }
    header .menu .navi>li{
        margin-bottom: 50px;
    }
    header .menu .navi>li>a{
        font-size: 20px;
    }
    header .menu .navi .sub li{
        font-size: 16px;
    }
    .s1{
        display: flex;
    }
    .s1_left{
        width: 50%;
        height: 550px;
    }
    .s1_left .wrap{
        margin: 0 auto;
        height: 100%;
    }
    .s1_left h2{
        font-size: 24px;
        margin-top: 40px;
    }
    .s1_left h2 span{
        font-size: 32px;
    }
    .s1_left .btn1 .txt{
        font-size: 24px;
        padding: 15px 0;
    }
    .s1_left .btn1 .arrow img{
        width: 23px;
    }
    .s1_left .s1_img1{
        height: auto;
        margin: 0 auto;
    }
    .s1_right{
        width: 50%;
        height: 550px;
    }
    
    .s1_right .wrap{
        margin: 0 auto;
        height: 100%;
    }
    .s1_right h2{
        font-size: 24px;
    }
    .s1_right h2 span{
        font-size: 32px;
    }
    .s1_right .btn2 .txt{
        font-size: 24px;
        padding: 15px 0;
    }
    .s1_right .btn2 .arrow img{
        width: 23px;
    }
    .s1_right .s1_img2{
        height: auto;
        margin: 0 auto;
    }
    .s2 .txt{
        text-align: unset;
        margin: 0 auto;

    }
    .s2 .txt ul{
        display: flex;
        justify-content: center;
        
    }
    .s2 .txt ul li{
        margin-left: 105px;
        margin-bottom: unset;
    }
    .s2 .txt ul li:first-child{
        margin-left: 0px;
    }
    .s2 .txt li h4{
        font-size: 2.5vw;
    }
    .s2 .txt li span{
        font-size: 3vw;
    }
    .s3{
        padding: 50px 16px;
    }
    .s3 .wrap{
        margin: 0 auto;
        width: 736px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 16px;
    }
    .s3 h3{
        font-size: 20px;
    }
    .s4{
        padding: 50px 16px;
    }
    .s4 .wrap{
        width: 736px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .s4 .h3{
        font-size: 20px;
    }
    .s5{
        padding: 50px 16px;
    }
    .s5 h2{
        font-size: 28px;
    }
    .s5 .uptitle h4{
        font-size: 24px;
    }
    .s5 .upbody{
        font-size: 20px;
        height: 160px;
    }
    .s6{
        padding: 50px 16px;
    }
    .s6 p{
        font-size: 20px;
    }
    .s6 h3{
        font-size: 28px;
    }
    .s7{
        padding: 50px 16px;
    }
    .s7 img{
        width: 50%;
    }
    .s7 .intro h4{
        font-size: 5vw;
    }
    .s7 .intro .list li{
        font-size: 2.5vw;
    }
    .s7 .news li{
        font-size: 3vh;
    }
    .s7 .news li span{
        font-size: 18px;
    }
    .s8 h2{
        font-size: 28px;
    }
    .s8 .con{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .s8 .video:nth-child(5){
        margin-bottom: unset;
    }
    .s8 .video p{
        font-size: 18px;
    }
    .s9{
        padding: 50px 16px;
    }
    .s9 h2{
        font-size: 28px;

    }
    .s9 .box{
        margin-bottom: 14px;
    }
    .s9 .box:nth-child(7),
    .s9 .box:nth-child(8),
    .s9 .box:last-child{
        margin-bottom: 0;
    }
    .s9 .con{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
    .s10_left{
        padding: 50px 16px;
    }
    .s10_left h2{
        font-size: 28px;
    }
    .s10_left .con{
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
    }
    .s10_left .con .btn{
        margin-bottom: 14px;
    }
    .s10_left .con .btn:nth-child(11),
    .s10_left .con .btn:nth-child(12){
        margin-bottom: 0;
    }
    .s10_left .con button{
        font-size: 24px;
    }
    .s10_right{
        padding: 0 16px;
    }
    .s10_right .jisa .txt{
        gap: 16px;
        height: 100px;
    }
    .s10_right .jisa .txt a{
        font-size: 24px;
    }
    .s10_right .jisa .txt .juso{
        font-size: 18px;
    }
    .s10_right .jisa .txt .arrow img{
        width: 30px;
        margin-top: 10px;
    }
    @media all and (min-width:1000px){
        .s10{
            display: flex;
            
        }
        .s10_left{
            width: 50%;
            padding: 50px 16px;
        }
        .s10_left .con{
            grid-template-columns: repeat(4, 1fr);
        }
        .s10_left .con .btn:nth-child(11),
        .s10_left .con .btn:nth-child(12){
            margin-bottom: 14px;
        }
        .s10_right{
            width: 50%;
            padding-bottom: 50px;
        }
    }
    footer{
        padding: 50px 16px;
    }
    footer .logo{
        gap: 16px;
    }
    footer .logo img{
        width: 100px;
    }
    footer .logo p{
        font-size: 18px;
    }
    footer .logo p span{
        font-size: 22px;
    }
    footer .txt{
        font-size: 14px;
    }
    footer .ft_menu ul{
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    footer .ft_menu ul li{
        font-size: 16px;
    }
    footer .sns ul li{
        width: 6%;
    }
    
}